<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Peter Snyder - Senior Privacy Researcher and Director of Privacy, Brave Software</title>
    <meta name="description" content="The homepage of Peter E. Snyder, privacy researcher at Brave software.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-target="#main-nav" data-toggle="collapse"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">&nbsp;</span>
                    <span class="icon-bar">&nbsp;</span>
                    <span class="icon-bar">&nbsp;</span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav">
                    <li><a href="#publications">Publications</a></li>
                    <li><a href="#press">Press</a></li>
                    <li><a href="#other-writing">Other Writing</a></li>
                    <li><a href="#teaching">Teaching</a></li>
                    <li><a href="#talks">Talks</a></li>
                    <li><a href="#positions">Positions</a></li>
                    <li><a href="#code">Code</a></li>
                    <li><a href="#community">Community</a></li>
                    <li><a href="#non-cs">Non-CS Bits</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Peter Snyder <small>Senior Privacy Researcher and Director of Privacy at <a href="//brave.com">Brave Software</a></small></h1>
                    <ul class="pub-links">
                        <li><a href="mailto:pes@brave.com">pes@brave.com</a></li>
                        <li><a href="static/misc/peter-snyder-cv.pdf">CV</a></li>
                        <li><a href="https://github.com/pes10k">GH</a></li>
                    </ul>

                    <a href="static/images/peter_snyder.jpg" class="visible-xs-block visible-sm-block">Photo of Peter Snyder</a>
                </div>

                <div class="description">
                    <p>
                        I am the senior privacy researcher at <a href="//brave.com">Brave Software</a>,
                        where I work on new ways to improve privacy and security on the Web,
                        and to fix new threats to Brave browser users.
                        I work under <a href="//www.doc.ic.ac.uk/~livshits/">Ben Livshits</a>,
                        <a href="//brendaneich.com/">Brendan Eich</a> and alongside
                        a wonderful team of researchers, engineers and privacy experts.
                    </p>

                    <p>
                        I also co-chair <a href="//www.w3.org/Privacy/IG/"><abbr title="Privacy Interest Group">PING</abbr></a>,
                        the group in the <a href="//www.w3.org"><abbr title="World Wide Web Consortium">W3C</abbr></a>
                        that reviews spec proposals for privacy risks and concerns.
                    </p>

                    <p>
                        Before joining Brave, I worked on my PhD in the <a href="https://www.cs.uic.edu/">Computer Science department
                        at the University of Illinois at Chicago</a> in the <a href="https://bits.lab.uic.edu/">BITS Lab</a>,
                        working under the kind and knowledgable guidance of <a href="https://www.cs.uic.edu/~ckanich/">Chris Kanich</a>.
                    </p>
                </div>

                <section id="publications-and-journals">
                    <h2><a id="publications">Publications</a></h2>
{{publications}}
                </section>

                <section id="press-container">
                    <h2><a id="press">Popular Press</a></h2>
{{press}}
                </section>

                <section id="other-writing-container">
                    <h2><a id="other-writing">Significant Writing</a></h2>
{{writing}}

                    <h2><a id="blog-writing">Blog Writing</a></h2>
{{blog}}
                </section>

                <h2><a id="teaching">Teaching</a></h2>
                <ul class="teaching">
                    <li>
                        <span class="course-name">Instructor for Software Design - UIC CS342</span>
                        <span class="teaching-period">
                            <a href="https://www.cs.uic.edu/~psnyder/cs342-summer2017/">2017</a>
                        </span>
                    </li>
                    <li>
                        <span class="course-name">TA for Computer Networks - UIC CS450</span>
                        <span class="teaching-period">
                            <a href="https://www.cs.uic.edu/~ckanich/cs450/s17/">2017</a>,
                            <a href="https://www.cs.uic.edu/~ckanich/cs450/f15/">2015</a>
                        </span>
                    </li>
                </ul>

                <h2><a id="talks">Selected Talks</a></h2>
{{talks}}

                <h2><a id="positions">Other Positions and Accomplishments</a></h2>
                <ul>
                    <li>I am Brave's <abbr title="advisory committee">AC</abbr> member in the <abbr title="World Wide Web Consortium">W3C</abbr>.</li>
                    <li>I did an <a href="//www.reddit.com/r/BATProject/comments/p6u6o9/im_peter_snyder_senior_privacy_researcher_and/">Reddit AMA</a> about privacy and Brave.</li>
                    <li>I co-chair <abbr title="privacy interest group"><a href="https://www.w3.org/Privacy/">PING</a></abbr>, the
                        group responsible for reviewing the privacy aspects of new web standards.</li>
                    <li>Our paper on Web API security and privacy was a finalist in the <a href="https://csaw.engineering.nyu.edu/research">CSAW’17 Applied Research Competition</a>.</li>
                    <li>I was a fellow in UIC's <a href="http://securityigert.uic.edu/">Electronic Security and Privacy IGERT</a>.</li>
                    <li>I organized a <a href="https://listserv.uic.edu/cgi-bin/wa?A0=CRYPTO-PAPERS">crypto reading group</a> at <abbr title="University of Illinois at Chicago">UIC</abbr>.</li>
                    <li>I placed first as the
                        <a href="http://securityigert.uic.edu/news/pete-snyder-symantec-cyber-challenge">Symantec Cyber Challenge Competition</a>,
                        held at <abbr title="University of Illinois at Chicago">UIC</abbr> and
                        hosted by the <a href="http://securityigert.uic.edu/">ESP-GERT</a> program.</li>
                    <li>I twice served as the president for the <a href="https://www.cs.uic.edu/CSGSA">UIC computer science graduate student association</a>.</li>
                    <li>I advise <a href="https://timby.org/">TIMBY</a>, a community investigating website and project,
                        on web and application security issues.</li>
                </ul>

                <section id="coding">
                    <h2><a id="code">Significant Programs and Code</a></h2>
                    <ul class="item-pairs">
                        <li>
                            <a class="pub-title" href="https://github.com/brave/brave-core/">Brave Browser</a>
                            <span class="pub-links">
                                <span class="label label-default pub-link"><a href="https://github.com/brave/brave-core/pulls?q=is%3Apr+author%3Apes10k+is%3Aclosed">closed PRs</a></span>
                            </span>
                            <span class="description">Misc bugfixes and minor features I've added to the Brave browser while working at Brave.</span>
                        </li>
                        <li>
                            <a class="pub-title" href="https://github.com/brave/brave-browser/wiki/PageGraph">PageGraph</a>
                            <span class="pub-links">
                                <span class="label label-default pub-link"><a href="https://github.com/brave/brave-browser/wiki/PageGraph">build instructions</a></span>
                            </span>
                            <span class="description">PageGraph is an under-development, research effort to instrument Brave, blink and v8, to allow
                            for complete attribution of document modifications, network requests, script execution, and privacy-relevant
                            Web API accesses.</span>
                        </li>
                        <li>
                            <a class="pub-title" href="https://github.com/brave/browser-laptop">Fingerprinting Protection Improvements in Brave Browser</a>
                            <span class="pub-links">
                                <span class="label label-default pub-link"><a href="https://github.com/brave/browser-laptop/commit/0e40245c3c9da18777db8e11471dec0096181cd7">improved blocking technique</a></span>
                                <span class="label label-default pub-link"><a href="https://github.com/brave/browser-laptop/pull/11140">blocking additional methods</a></span>
                                <span class="label label-default pub-link"><a href="https://github.com/brave/browser-laptop/pull/11708">fingerprinting bypasses</a></span>
                            </span>
                            <span class="description">Improved the technique used to block fingerprinting related Web API methods
                            to reduce the impact on non-fingerprinting related code, and expanded the set
                            of blocked Web API methods to cover five more, previously allowed, methods used for
                            fingerprinting users.</span>
                        </li>
                        <li>
                            <a class="pub-title" href="https://github.com/snyderp/web-api-manager">Web API Manager Browser Extension</a>
                            <span class="pub-links">
                                <span class="label label-default pub-link"><a href="https://addons.mozilla.org/en-US/firefox/addon/webapi-manager/">firefox</a></span>
                                <span class="label label-default pub-link"><a href="https://chrome.google.com/webstore/detail/webapi-manager/hojoljbhkebfjalcbnfmoiljfidcmcmj">chrome</a></span>
                                <span class="label label-default pub-link"><a href="https://github.com/snyderp/web-api-manager">code</a></span>
                            </span>
                            <span class="description">WebExtension, cross-browser extension that allows users to improve their privacy and security
                            online by controlling what browser functionality web hosts have access to. Web API functionality access controls can be
                            defined in general, or on a per host level, and can allow, for example, only trusted hosts to have access to privacy-risky
                            browser functionality like high resolution timers, WebGL and WebRTC.</span>
                        </li>
                        <li>
                            <a class="pub-title" href="https://cloudsweeper.cs.uic.edu/">Cloudsweeper</a>
                            <span class="description">Webservice tool to measure and mitigate the frequency of plaintext password sharing in Gmail
                            archives. The public tool allows users to redact or encrypt-in-place found passwords. The site has had over 2,500
                            users and has secured over 38,000 messages</span>
                        </li>
                        <li>
                            <a class="pub-title" href="https://github.com/bitslab/cdf">CDF: Abstractions for Security Guarantees in Interactive Web Applications</a>
                            <span class="pub-links">
                                <span class="label label-default pub-link"><a href="https://github.com/bitslab/cdf">code</a></span>
                            </span>
                            <span class="description">Built client and server-side tools for implementing CDF, a document format for building dynamic,
                            interactive web applications that provide increased security and privacy guarantees for users of
                            commodity web browsers.</span>
                        </li>
                        <li>
                            <a class="pub-title" href="https://github.com/snyderp/nes-machine-learning">Machine Learning for Automatic 8bit Song Generation</a>
                            <span class="pub-links">
                                <span class="label label-default pub-link"><a href="https://github.com/snyderp/nes-machine-learning">source</a></span>
                                <span class="label label-default pub-link"><a href="https://github.com/snyderp/nes-machine-learning/blob/master/docs/Presentation/Presentation.ppt?raw=true">slides</a></span>
                            </span>
                            <span class="description">Library to write original NES chip-style soundtracks using a corpus of 39 classic NES games and
                                machine learning.</span>
                        </li>
                        <li>
                            <a class="pub-title" href="https://github.com/snyderp/PESGraph">Objective-C Dijkstra implementation</a>
                            <span class="pub-links">
                                <span class="label label-default pub-link"><a href="https://github.com/snyderp/PESGraph">source</a></span>
                                <span class="label label-default pub-link"><a href="https://cocoapods.org/pods/PESGraph">cocoapods</a></span>
                            </span>
                            <span class="description">Library to perform Dijkstra in Objective-C (for iOS and OSX).</span>
                        </li>
                        <li>
                            <a class="pub-title" href="https://addons.mozilla.org/en-US/firefox/addon/formbug/">FormBug</a>
                            <span class="pub-links">
                                <span class="label label-default pub-link"><a href="https://github.com/snyderp/FormBug">source</a></span>
                                <span class="label label-default pub-link"><a href="https://addons.mozilla.org/en-US/firefox/addon/formbug/">firefox addon</a></span>
                            </span>
                            <span class="description">A Firefox extension to make dealing and developing form based applications easier. I just
                                maintain it now, but wrote it back when I was doing web development work.</span>
                        </li>
                    </ul>
                </section>

                <section id="community-container">
                    <h2><a id="community">Community Involvement</a></h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Venue</th>
                                <th>Position</th>
                                <th>Year</th>
                            </tr>
                        </thead>
                        <tbody>
{{involvement}}
                        </tbody>
                    </table>
                </section>

                <h2><a id="non-cs">Non-CS Bits</a></h2>
                <ul>
                    <li>I was half of the Chicago chiptune band <a href="https://soundcloud.com/cherrycherrybomb">🍒🍒💣</a>.</li>
                    <li>I sang and played guitar in a Chicago power-pop band called <a href="https://thepleasurecenters.bandcamp.com/releases">The Pleasure Centers</a>.</li>
                    <li>I volunteered tutoring Chicago high school students as part of the <a href="https://eastvillageyouthprogram.wordpress.com/">East Village Youth Program</a>.</li>
                    <li>Sometimes I record <a href="https://soundcloud.com/pes-chicago">chiptune music</a> solo.</li>
                    <li>A while back I played in a LOST-themed band called <a href="https://itunes.apple.com/us/album/bens-secrets/id343826055?i=343826082">Sonic Weapon Fence</a>.</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>

</html>
